

{% load static %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">




<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<footer class="bg-body-tertiary text-center text-lg-start">
  <div class="container p-4">
      <div class="row">
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">Get connected with us on social networks:</h5>
              <p>Automated personlized news aggregrator</p>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Useful links</h5>
              <ul class="list-unstyled">
                  <li><a href="#!">Pricing</a></li>
                  <li><a href="#!">Settings</a></li>
                  <li><a href="#!">Orders</a></li>
                  <li><a href="#!">Help</a></li>
              </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Contact</h5>
              <p>Pakistan, pk 10012</p>
              <p>info@example.com</p>
              <p>+92 3156020861</p>
              <p>+92 3454529329</p>
          </div>
      </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.409);">
      © 2024 Copyright: Automated news .com
  </div>
</footer>

